<section id="elsewhere">
  <div class="grid-container grid-container-desktop-lg">
    <div class="grid-row">
      <div class="grid-col-12 tablet:grid-col-8">
        <div class="content usa-prose">
          <p>Learn more about <a href="./work/resume/">my work</a>:</p>
          <ul>
            <li><a href="https://www.linkedin.com/in/jeremyzilar/" title="Jeremy Zilar on LinkedIn"><i class="fab fa-linkedin-in"></i> <span>LinkedIn</span></a></li>
            <li><a href="https://github.com/jeremyzilar" title="Jeremy Zilar on GitHub"><i class="fab fa-github"></i> <span>GitHub</span></a></li>
            <li><a href="https://instagram.com/jeremyz" title="Jeremy Zilar on Instagram"><i class="fab fa-instagram"></i> <span>Instagram</span></a></li>
            <li><a href="https://twitter.com/jeremyzilar" title="Jeremy Zilar on Twitter"><i class="fab fa-twitter"></i> <span>Twitter</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
