<div id="kinetoscope" class="cycle-slideshow" data-cycle-pause-on-hover="true" data-cycle-speed="5" data-cycle-loader='true' data-cycle-timeout='50'>
  <img src="assets/i/001.jpg" class="show" alt="001">
  <img src="assets/i/002.jpg" alt="002">
  <img src="assets/i/003.jpg" alt="003">
  <img src="assets/i/004.jpg" alt="004">
  <img src="assets/i/005.jpg" alt="005">
  <img src="assets/i/006.jpg" alt="006">
  <img src="assets/i/007.jpg" alt="007">
  <img src="assets/i/008.jpg" alt="008">
  <img src="assets/i/009.jpg" alt="009">
  <img src="assets/i/010.jpg" alt="010">
  <img src="assets/i/011.jpg" alt="011">
  <img src="assets/i/012.jpg" alt="012">
  <img src="assets/i/013.jpg" alt="013">
  <img src="assets/i/014.jpg" alt="014">
  <img src="assets/i/015.jpg" alt="015">
  <img src="assets/i/016.jpg" alt="016">
  <img src="assets/i/017.jpg" alt="017">
  <img src="assets/i/018.jpg" alt="018">
  <img src="assets/i/019.jpg" alt="019">
  <img src="assets/i/020.jpg" alt="020">
  <img src="assets/i/021.jpg" alt="021">
  <img src="assets/i/022.jpg" alt="022">
  <img src="assets/i/023.jpg" alt="023">
  <img src="assets/i/025.jpg" alt="025">
  <img src="assets/i/026.jpg" alt="026">
  <img src="assets/i/027.jpg" alt="027">
  <img src="assets/i/028.jpg" alt="028">
  <img src="assets/i/029.jpg" alt="029">
  <img src="assets/i/030.jpg" alt="030">
  <img src="assets/i/031.jpg" alt="031">
  <img src="assets/i/032.jpg" alt="032">
  <img src="assets/i/033.jpg" alt="033">
  <img src="assets/i/034.jpg" alt="034">
  <img src="assets/i/024.jpg" alt="024">
  <img src="assets/i/035.jpg" alt="035">
  <img src="assets/i/036.jpg" alt="036">
  <img src="assets/i/038.jpg" alt="038">
  <img src="assets/i/039.jpg" alt="039">
  <img src="assets/i/040.jpg" alt="040">
  <img src="assets/i/041.jpg" alt="041">
  <img src="assets/i/042.jpg" alt="042">
  <img src="assets/i/043.jpg" alt="043">
  <img src="assets/i/044.jpg" alt="044">
  <img src="assets/i/045.jpg" alt="045">
  <img src="assets/i/046.jpg" alt="046">
  <img src="assets/i/047.jpg" alt="047">
  <img src="assets/i/048.jpg" alt="048">
  <img src="assets/i/049.jpg" alt="049">
  <img src="assets/i/050.jpg" alt="050">
</div>
