<section class="usa-graphic-list usa-section usa-section--light">
  <div class="grid-container grid-container-desktop-lg">

    <div class="usa-graphic-list__row grid-row grid-gap">

      <div class="grid-col-12 tablet-lg:grid-col-6">
        <div class="usa-media-block">
          <img class="usa-media-block__img" src="{{ '/assets/img/circle-124.png' | baseurl }}" alt="Alt text">
          <div class="usa-media-block__body">
            <h2 class="usa-graphic-list__heading">Improve your communication rhythms</h2>
            <p>Graphic headings can be used a few different ways, depending on what your landing page is for. Highlight your values, specific program areas, or results.</p>
          </div>
        </div>
      </div>

      <div class="grid-col-12 tablet-lg:grid-col-6">
        <div class="usa-media-block">
          <img class="usa-media-block__img" src="{{ '/assets/img/circle-124.png' | baseurl }}" alt="Alt text">
          <div class="usa-media-block__body">
            <h2 class="usa-graphic-list__heading">Use the right collaboration tools</h2>
            <p>Graphic headings can be used a few different ways, depending on what your landing page is for. Highlight your values, specific program areas, or results.</p>
          </div>
        </div>
      </div>

    </div>


    <div class="usa-graphic-list__row grid-row grid-gap">

      <div class="grid-col-12 tablet-lg:grid-col-6">
        <div class="usa-media-block">
          <img class="usa-media-block__img" src="{{ '/assets/img/circle-124.png' | baseurl }}" alt="Alt text">
          <div class="usa-media-block__body">
            <h2 class="usa-graphic-list__heading">make their processes transparent and accessible</h2>
            <p>Graphic headings can be used a few different ways, depending on what your landing page is for. Highlight your values, specific program areas, or results.</p>
          </div>
        </div>
      </div>

      <div class="grid-col-12 tablet-lg:grid-col-6">
        <div class="usa-media-block">
          <img class="usa-media-block__img" src="{{ '/assets/img/circle-124.png' | baseurl }}" alt="Alt text">
          <div class="usa-media-block__body">
            <h2 class="usa-graphic-list__heading">Graphic headings can vary.</h2>
            <p>Graphic headings can be used a few different ways, depending on what your landing page is for. Highlight your values, specific program areas, or results.</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
