<!-- include.data -->
{% for item in site.data.[include.data].blurb %}
  <section class="blurb blurb-{{ include.data }} usa-section">
    <div class="grid-container grid-container-desktop-lg">
      <div class="grid-row grid-gap">
        {% if item.heading %}
        <div class="grid-col-12 tablet:grid-col-4">
          <div class="blurb-heading">
            <h2>{{ item.heading }}</h2>
          </div>
        </div>
        {% endif %}
        {% if item.img %}
        <div class="grid-col-12 tablet:grid-col-2">
          <div class="blurb-heading">
            <img src="{{ item.img }}" alt="{{ item.img_alt }}">
          </div>
        </div>
        {% endif %}
        <div class="grid-col-12 tablet:grid-col-8">
          <div class="usa-prose">
            {% if item.text %}
            {{ item.text | markdownify }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endfor %}
