<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="paper">

      <a class="usa-skipnav" href="#main">Skip to main content</a>

      {% include header.html %}

      {% include hero.html %}

      {% include section-blurb.html data="we-offer" %}
      {% include section-blurb.html data="who-we-are" %}
      {% include section-blurb.html data="remote-first" %}

      {{ content }}

      {% include footer.html %}

    </div> <!-- end paper -->

    <!-- USWDS JS -->
    <script src="{{ "/assets/js/uswds.min.js" | baseurl }}" type="text/javascript"></script>

  </body>

</html>
