<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="paper">

      <a class="usa-skipnav" href="#main">Skip to main content</a>

      {% include header.html %}

      {{ content }}

      {% include section-bio.html data="about" %}

      {% include footer.html %}

    </div> <!-- end paper -->

    {% include twitter-analytics.html %}
    
    <!-- USWDS JS -->
    <script src="{{ "/assets/js/uswds.min.js" | baseurl }}" type="text/javascript"></script>


  </body>

</html>
